.section-list {
  display: grid;
  list-style: none;
  padding: 50px 50px 70px 50px;
  grid-gap: 20px;
  grid-template-columns: auto auto auto auto;
}

.student {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f6;
  color: #5384c8;
  width: 180px;
  height: 150px;
  box-shadow: 2px 2px gray;
  padding: 10px 10px 10px 10px;
  margin: 0px 0px 0px 0px;
  transition: transform 0.2s;
}
.student:hover {
  background-color: #99c5dd;
  transform: scale(1.5);
  transform: rotate(10deg);
}
img {
  width: 80px;
  height: 100px;
  margin-bottom: 10px;
}
