body {
    font-family:verdana;
}

H1,a{
    color:teal;
}

a:active{
    color:red;
}

a:visited{
    color:red;
}

#perfil img {
    height: 100%;
    
    width: auto;
    border-top-left-radius: 100px ;
}

#perfil {
    margin-top: 40px;
    height: 40%;
    justify-content: center;
}
table{
    border-spacing:0px;
}
#image{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

#content{
    border:solid 2px;

    width: 60%;
    box-shadow: 5px 5px gray;
}

#perfil .container{
    justify-content:center;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

#perfil .container .item{
    width:33%;
}

.container-main{
    display:flex;
    flex-direction:row;
    width: 100%;
    height: 100%;
}

.container-secundario{
    display:flex;
    flex-direction: column;
    height: 100%;

}

.container-secundario #nombre{
    height:10%;
}

.container-secundario #descripcion{
    height:30%;
}

.container-secundario .container-terciario{
    height:50%;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.container-secundario #email{
    height:10%;
}

.container-grid{
    display:grid;
    grid-template-columns: 1fr 3fr ;
}

#lenguaje{
    float: right;
    margin-top: 20px;
}