* {
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, helvetica, sans-serif;
	font-size: 11pt;
}

html,body { width: 100%; height: 100%; }

header {
  margin: 0;
  padding: 0;
	background-color:#86b1ef;			
}

nav  {
  margin: 0px;
  padding: 0;
  overflow: hidden;
}

nav>span {
  border-right: 1px solid #fff;
  height: 100%;
  padding: 3px 5px 3px 5px;
  color: white;
}

nav > form {
  padding: 0;
  margin: 0;
  border-right: none;
  height: 100%;
}

nav span a, nav span a:link, nav span a:visited {
  color: white;
  text-decoration:none;
}
			
.logo {
	margin-left: 2px;
	font-size: 27pt;
  font-family: helvetica;
}

.logo small {
	font-size: 14pt;
}

.saludo {
  height: 100%;
  text-align: center;
}

.busqueda input[type=submit] {
  padding: 6px;
  background: #f5f7f9;
  border: none;
  cursor: pointer;
  color: #86b1ef;
  margin: 0;
}

.busqueda input[type=text] {
  padding: 6px;
  border: none;
  margin: 0px;
}

section { 
  width: 95%;
  margin-top:10px;
  margin-bottom:80px;
  margin-left: auto;
  margin-right: auto;
}
			
footer {
  width: 100%;
  position: fixed;	
  bottom: 0;
  padding: 1rem;
  background-color: #86b1ef;
  text-align: center;
  font-size: 9pt;
}

.msg_error {
  color: #86b1ef;
  font-size: large;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 2rem;
}

.busqueda input[type=submit] {
  padding: 6px;
  background: #f5f7f9;
  border: none;
  cursor: pointer;
  color: #86b1ef;
}

.busqueda input[type=text] {
  padding: 6px;
  border: none;
  margin-right: 10px;
}
