#Tva {
    font-size: 40px; 
    color: teal; 
    font-family: cursive;
}

#dPerfil {
    font-style: italic; font-family: cursive;
    font-size: 16px;
}

img {
    float: left;
    height: 340px; width: 330px;
    padding-right: 35px;
    padding-top: 1%;
    border-radius: 50px 0 0 0;
}

#perfil{
    width: 60%; height: 300px;
    padding: 20px;
    float: left;
    border-style: solid;
    box-shadow: 10px 15px #E1F2E5;
}

#mail{
    font-family: cursive;
}
a:link{
    color: orange;
}
a:focus, a:visited{
    color: red;
}