
html{
    margin: 0;
	width: 100vw;
	height: 100vh;
}
#grid {
	display: flex;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	padding: 2%;
	margin: 2.5%;
}

img {
	height: 420px;
	width: auto;
	border-top-left-radius: 20%;
}

#mycontent {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 380px;
	max-width: 800px;
	border: 4px solid black;
	box-shadow: 5px 5px #E1F2E5;
	padding: 20px;
}

#mycontent p, #mycontent tr td, #mycontent p a {
    flex-wrap: wrap;
	font-size: 1.3vw;
}

.bold {
	font-weight: bold;
}

.tName {
    color: teal; 
    font-family: cursive;
	font-size: clamp(2.5em, 4.5vw, 4.5em);
}

.dPefil {
	font-style: italic; font-family: cursive;
	text-align: justify;
}

a {
	color: orange;
}

a:visited {
	color: red;
}

