.logo{
    font-size: 2.25vw;
}

img{
    border-radius: 25% 0px 0px 0px;
}

#contenido{
    margin-right: 5vw;
    margin-top: 5vh;
}

#info{
    border-style: solid;
    border-width: 2px;
    box-shadow: 8px 8px 8px rgb(99, 99, 99);
    border-color: black;
    padding: 2em;
    padding-top: 0.5em;
}

h1{
    color: orange;
    font-family: 'Montserrat', sans-serif;
    font-size: 30pt;
    margin-bottom: 0.125em;
    margin-top: 0.125em;
}

a{
    color: orange;
    
    text-decoration: none;
}
a:active{
    color: red;
}
a:focus{
    color: red;
}
a:visited{
    color: red;
}

#perfil-lenguajes{
    font-weight: bold;
}
#config-lenguajes{
    font-weight: bold;
}

figure{
    position: relative;
    margin-top: -125%;
    overflow: hidden;
}

path{
    fill:white;
    transition: all 1s ease;
    transform: translateY(-100%);
    opacity: 50%;
}

#no_hover_svg{
    transform: translateY(-5%);
}

#email{
    margin-top: -125%;
    transform: translateY(-400%);
    transition: all 1s ease;
    padding: 3rem;
}