.descripcion {
    font-style: italic;
    font-size: 5;
}
#foto {
    float: left;
    width: 25%;
    height: 50%;
    padding-right: 35px;
    padding-top: 1%;
    border-radius: 50px 0 0 0;
}
.perfil{
    border: 1px black;
    border-style: solid;
    padding: 1em;
    box-shadow: 10px 10px 5px black;
}
.email {
    color: orange;
}
.email:visited {
    color: red;
}