.img {
  width: 40%;
  border-top-left-radius: 30%;
  margin-bottom: 15px;
}

.contenedor {
  /* overflow: auto; */
  /* border: 1.5px solid black; */
  
  width: 80%;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.titulo {
  color: #e4843b;
  font-size: 60px;
  margin: 0;
  font-weight: 600;
}

.descrip {
  margin: 0;
  /* margin-bottom: 7px; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
}

tbody {
  text-align: left;
  font-weight: normal;
}

th {
  font-weight: normal;
}

.negrita {
  font-weight: bold;
}
a {
  color: orange;
}
a:visited {
  color: red;
}
